MYSQL_HOST=mysql-22bb8d4-esenapharmacy-3687.f.aivencloud.com
MYSQL_PORT=26888
MYSQL_USER=avnadmin
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=defaultdb
SENDGRID_API_KEY=your_sendgrid_key_here
FROM_EMAIL=you@yourdomain.com
